body{
	direction: rtl;
}

#users{
	background: #E9EAED;
	text-align: center;
	width:300px;
	margin: auto;
	padding:10px;
	border-radius: 5px;
}

#users .input{
	padding: 8px;
	width: 280px;
	margin: 5px 0;
	font-family: tahoma
}